.timer {
  display: flex;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 32px;
  text-align: center;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
